/* Style Generico */

body {
  background-color: #118ab1;
  font-family: "quantico", sans-serif;
}

/* NAVBAR */
.cinemaKarme {
  background-color: #0ad6a095;
  border-radius: 20%;
  padding: 2px;
}

.cinemaKarme:hover {
  background-color: #ffd167c2;
  border-radius: 20%;
  border: 2px solid #ffd167;
  border-style: inset;
  padding: 2px;
}

.nav-bar-custom {
  background-color: #073a4b;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.nav-route {
  color: #e2426a !important;
  font-family: "tourney", sans-serif;
  font-size: 2rem;
}

.nav-route:hover {
  color: #ffd167 !important;
  text-shadow: 2px 2px 3px #0ad6a1;
}

/* MAIN */

main {
  min-height: 100vh;
}

.h1-custom {
  color: #f78c6a !important;
  font-size: 3rem;
  font-style: italic;
  text-shadow: 3px 2.5px 3px black;
}

/* Movie */
.movie-details {
  color: #ffd167 !important;
  font-size: 1rem;
  font-style: italic;
  text-shadow: 3px 2.5px 3px #000000;
}

.singleCard {
  min-width: 100%;
  min-height: 100%;
}

.imageMovie {
  max-height: 70%;
}

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card {
  border: 2px solid #e2426a;
  box-shadow: 5px 5px 0px #073a4b;
  background-color: lightgrey;
}

.card:hover {
  background-color: #efb60a;
  
}

.movie-title {
  color: #e2426a !important;
  font-size: 1.5rem;
  font-style: italic;
  text-shadow: 1px 2px 1px #000000;
}

.movie-show { /*Solo per la rotta SHOW*/
  color: #ffd900 !important;
  font-size: 2.8rem;
  font-style: italic;
  text-shadow: 2px 3px 1px #9000f1;
}

.card-show{ /*Solo per la rotta SHOW*/
display: flex;
justify-content: center;
gap: 1rem;
}

.section-due > img{ /*Solo per la rotta SHOW*/
border: 4px solid #e2426a;
width: 26rem;
border-radius: 20px;
box-shadow: 4px 6px 4px 1px #073A4B;
}

/*TESTI solo per la rotta SHOW*/

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-due {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #e2426a;
  box-shadow: 4px 6px 4px 1px #073A4B;
  border-radius: 20px;

  background-color: #0ad6a1;
}

.section-details-abs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #e2426a;
  box-shadow: 4px 6px 4px 1px #073A4B;
  border-radius: 20px;

  background-color: #ffd167;
}


.section-details-rev{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding-left: 1rem;
  border: 4px solid #e2426a;
  background-color: rgb(226, 223, 223);
  box-shadow: 4px 6px 4px 1px #073A4B;
  border-radius: 20px;
}


.title-custom-show{
  color: #ffd167 !important;
  font-size: 1.7rem;
  text-shadow: 4px 5px 2px #073A4B;
}

.details-show{
  color: #E2426A !important;
  font-size: 2.5rem;
  text-shadow: 4px 5px 2px #073A4B;
}

.title-custom-abs{
  color: #2cb398 !important;
  font-size: 2.5rem;
  margin-bottom: 0px;
  text-shadow: 3px 2px 2px #073A4B;
}

.details-abs{
  color: #E2426A !important;
  padding-left: 1.5rem;
  font-size: 2.5rem;
  text-shadow: 4px 2px 2px #073A4B;
}



.titleRev{
  color:  #E2426A !important;
  font-size: 2rem;
  text-shadow: 1px 2px 2px #073A4B;
}

.voteRev{
  color:  #ffd167 !important;
  font-size: 1.5rem;
  text-shadow: 1.5px 1.5px 2px #073A4B;
}

.movieRev{
  color:  #073A4B !important;
  font-size: 1.5rem;
  text-shadow: 1px 2px 2px #14e7bd;
}

/*FINE rotta SHOW*/
.movieDir,
.movieAbs {
  color: #14e7bd !important;
  font-size: 1.2rem;
  text-shadow: 1px 2px 2px #000000;
}

.movieDir > strong,
.movieAbs > strong {
  color: #f78c6a !important ;
  font-style: italic;
}

/* Not Found */

.button-gen {
  font-size: 1.5rem;
  border: 4px solid #073a4b;
  border-style: inset;
}

.button-gen:hover {
  color: #e2426a;
  font-weight: bolder;
  border: 4px #ffd167;
  border-style: inset;
}




/* LOADER */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;

	display: flex;
	align-items: center;
	justify-content: center;

	.spinner-border {
		width: 200px;
		height: 200px;
		font-size: 2rem;
	}
}